################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/SkyCreative.Cub/obj/Debug
/src/SkyCreative.Husky/bin/Debug
/src/SkyCreative.Husky/obj/Debug
*.suo
/src/SkyCreative.Cub/bin/Debug
